<div >
    <section class="hero is-light is-medium">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Amazon Affiliate
            </h1>
            <h2 class="subtitle">
             Search product by asin.
            </h2>
          </div>
        </div>
      </section>

    <div class="container is-center">
      <section class="hero is-dark is-medium banner banner-3 is-hidden-touch"></section>
      <section class="hero is-dark is-medium banner banner-2 is-hidden-touch"></section>
    </div>
    </div>
