.banner {
  background-repeat: no-repeat, repeat;
  background-color:black;
  height: 300px;
}

.banner-2 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/G/01/digital/music/merch/2018/WeeklyBuild/021618/ClassicHits_021618_Herotater-1x._CB502343197_.jpg");

}
.banner-3 {
  background-image: url("https://m.media-amazon.com/images/G/01/AMAZON_FASHION/2018/EDITORIAL/SPRING_2/GATEWAY/DESKTOP/HERO_M_xGL_SpringStockUp_1x._CB502042831_.jpg");

}

@media screen and (max-width: 992px) {
  .hero {
    padding-top: 50%;
  }
}
